    /*  –¥  ª®¬¥­â à  ¢  CSS  */

    .alert  {
        /*  Œ¨  ¤®¤ «¨  ¢÷¤áâ ­ì  «¨è¥  §¢¥àåã  ¥«¥¬¥­â :  -top  */
        margin-top:  10px;
    }
/*  §­ ©è«¨  ¥«¥¬¥­â  äãâ¥à   ¯®  ©®£®  ã­÷ª «ì­®¬ã  ÷¤¥­â¨ä÷ª â®àã   footer  */
    #footer  {
/*  § ¤ ó¬®  ¢¥àå­î  ¬¥¦ã  ¥«¥¬¥­â :  è¨à¨­   «÷­÷õ,  â¨¯  «÷­÷õ,  ª®«÷à  «÷­÷õ  */
        border-top:  1px  solid  #dddddd;
        /*  § ¤ ó¬®  ¢­ãâà÷è­î  ¢÷¤áâ ­ì  ¥«¥¬¥­â   ¤®  ¢¥àå­ì®£®  ªà î  */
        padding-top:  10px;
    }

/* Groups Selector */
#group-selector {
  margin-top: 30px;
}
#group-selector select {
  width: 80%;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 30px;
  line-height: 30px;
  color: #555555;
}
        #cssTable td 
    {
    text-align:center; 
    font-weight:  bold;
    }


    /*  Global  Styles  */
    h1,  h2,  h3,  h4,  h5,  h6  {
        font-weight:  bold;
    }
